<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <title>Nodifications</title>
  </head>
  <body>
	<div id="title">
	  <h2>Shaw Nodifications</h2>
	</div>
	<div id="container">

	  <div id="left-nav-container">
		<ul id="left-nav">
		  <li class="selected"><a href="/notificationTypes">Notification Types</a></li>
		  <li><a href="/registrations">Notification Registrations</a></li>
		</ul>
	  </div>

	  <div id="content-container">
		  <%- body %>
	  </div>

	</div>
  </body>
</html>