<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <script type='text/javascript' language="javascript" src='/javascript/jquery-1.7.1.min.js'></script>
    <script type='text/javascript' language="javascript" src='/javascript/jquery.tmpl.js'></script>
    <script type='text/javascript' language="javascript" src='/javascript/knockout-1.2.1.js'></script>
    <script type='text/javascript' language="javascript" src='/javascript/knockout.mapping-oct18.js'></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <title>Nodifications</title>
  </head>
  <body>
    <div id="top-bar">
      <div class="container">
        <a class="title" href="/">Nodifications</a>
        <ul class="nav">
          <li id="types"><a href="/notificationTypes">Types</a></li>
          <li id="registrations"><a href="/registrations">Registrations</a></li>
        </ul>
      </div>
    </div>
    <div id="main-container" class="container">
      <div id="content-container">
        <%- body %>
      </div>
    </div>
  </body>

  <script type="text/javascript">
    
  </script>
</html>