body {
  background-color:#eee;
  background-repeat:repeat;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  text-align:center;
}

a {
  color: #00B7FF;
  text-decoration:none;
}

h3 .button, .details-title .button {
  float:right;
  font-size:12px;
}

.button-column {
  width:30px;
}
.button {
  border:0 none;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  cursor:pointer;
  display:inline-block;
  padding:5px 15px;
}
.button.primary {
  background-color:#B6C10C;
  color:#f4f4f4;
  font-size:12px;
}
.button.secondary {
  background-color:transparent;
}

.container {
  display:inline-block;
  padding: 10px 5px;
  text-align:left;
  width:800px;
}

#top-bar {
  background-color:#444;
  height:45px;
}

  a.title {
	color:#eee;
	float:left;
	font-size:20px;
	margin:0;
  }
  ul.nav {
	float:left;
	list-style:none;
	margin:-6px 0 0;
  }
  .nav li {
	float:left;
	padding:10px;
  }
  .nav li.selected {
	background-color:#000;
  }
  ul.nav a {
	color:#f4f4f4;
  }

#main-container {
  background-color:#fff;
  border:1px solid #e4e4e4;
  padding:0;
}
  .sub-title {
	background-color:#f4f4f4;
	border-bottom:1px solid #e4e4e4;
	height:55px;
	padding:1px 20px 2px;
  }
	#feedbackMessage {
	  color:#444;
	  display:none;
	  font-weight:bold;
	  font-size:12px;
	  margin-top:-35px;
	  text-align:center;
	  width:100%
	}
	#feedbackMessage span {
	  background-color:#B8FF94;
	  border-radius:5px;
	  -moz-border-radius:5px;
	  -webkit-border-radius:5px;
	  padding:5px 10px;
	  text-align:center;
	}
	#feedbackMessage.error span {
	  background-color:#DE5959;
	  color:#f4f4f4;
	  padding:5px 10px;
	  text-align:center;
	}

#details-container {
  padding-bottom:30px;
  text-align:center;
  display:none;
}
  .details-title {
	font-size: 14px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
  }
  .details-title span {
	padding-left:70px;
  }
  
  .details {
	display:inline-block;
  }
  .details td {
	padding:5px;
  }
  .details td.label {
	text-align:right;
  }
  
  .details {
	display:inline-block;
	list-style:none;
	padding:0;
  }

#list-container {
  border:1px solid #f4f4f4;
  height:300px; 
}
  table.list {
	width:100%;
  }
  table.list th {
	border-bottom:1px solid #e4e4e4;
  }
  table.list tr:nth-child(even) {
	background-color:#F0F5FF;
  }
  table.list td, table.list th {
	padding:0 10px;
  }
