<div>
  <div class="sub-title">
	<h3>Notification Type - <%=notificationType.name %></h3>
  </div>
  
  <div id="content">
	  <form action="/notificationTypes/<%-notificationType._id%>" method="post">
      <label for="name">Name: </label>
      <input id="name" name="name" value="<%=notificationType.name %>"/><br/>
      <label for="registrationUrl">Registration URL: </label>
      <input id="registrationUrl" name="registrationUrl" value="<%=notificationType.registrationUrl %>"/><br/>
      <label for="userName">Username: </label>
      <input id="userName" name="userName" value="<%=notificationType.userName %>"/><br/>
      <label for="password">Password: </label>
      <input id="password" name="password" type="password" value="<%=notificationType.password %>"/><br/>
		  <input type="submit" value="Save"/><input type="button" value="Cancel"/>
	  </form>
  </div>
</div>