<div>
  <div id="sub-title">
	<h3>Notification Type - New</h3>
  </div>
  
  <div id="content">
	  <form action="/notificationTypes" method="post">
		<input type="hidden" name="_method" value="put" />
		<input id="name" name="name" value=""/><br/>
		<input id="registrationUrl" name="registrationUrl" value=""/><br/>
		<input id="userName" name="userName" value=""/><br/>
		<input id="password" name="password" type="password" value=""/><br/>
		<input type="submit" value="Save"/><input type="button" value="Cancel"/>
	  </form>
  </div>
</div>