<div>
  <div class="sub-title">
	<h3>Notification Type - New</h3>
  </div>
  
  <div id="content">
	  <form action="/notificationTypes" method="post">
		  <input type="hidden" name="_method" value="put" />
      <label for="name">Name: </label><input id="name" name="name" value=""/><br/>
      <label for="registrationUrl">Registration URL: </label><input id="registrationUrl" name="registrationUrl" value=""/><br/>
      <label for="userName">Username: </label><input id="userName" name="userName" value=""/><br/>
      <label for="password">Password: </label><input id="password" name="password" type="password" value=""/><br/>
		  <input type="submit" value="Save"/><input type="button" value="Cancel"/>
	  </form>
  </div>
</div>