<div>
  <div id="sub-title">
	<h3>Registration - <%=registration.key %></h3>
  </div>

  <div id="content">
	  <form action="/registrations/<%-registration._id%>" method="post">
      <label for="notificationType">Name: </label>
      <input id="notificationType" name="notificationType" value="<%=registration.notificationType.name %>"/><br/>
      <label for="key">Key: </label>
      <input id="key" name="key" value="<%=registration.key %>"/><br/>
      <label for="registrationConfirmed">Username: </label>
      <input id="registrationConfirmed" name="registrationConfirmed" readonly value="<%=registration.registrationConfirmed %>"/><br/>
		  <input type="submit" value="Save"/><input type="button" value="Cancel"/>
	  </form>
  </div>
</div>