<div class="sub-title">
  <h3>Registered Notifications
    <a class="button secondary" href="javascript:void(0);" data-bind="click: showNew">+ new registration</a>
  </h3>

  <div id="feedbackMessage"><span></span></div>
</div>

<div id="content">
  <div id="details-container">
    <div class="details-title">
      <span data-bind="text:'Register New Notification'"></span>
      <a class="button secondary" href="javascript:void(0);" alt="delete registration"
         title="delete notification type" data-bind="click: removeCurrent"> delete</a>
    </div>
    <table class="details">
      <tr>
        <td class="label">Key:</td>
        <td><input type="text" name="key" data-bind="value: current() ? current().key : ''"/></td>
      </tr>
      <tr>
        <td class="label">Notification Type:</td>
        <td>
          <select name="notificationType" data-bind="options: notificationTypes,
                                                      optionsText: 'name',
                                                      optionsValue: '_id',
                                                      optionsCaption: 'Choose One... ',
                                                      value: current() ? current().notificationType : ''" >
          </select>
        </td>
      </tr>
      <tr>
        <td class="label">Confirm Registration:</td>
        <td><input type="checkbox" name="key" data-bind="checked: current() ? current().confirmed : false"/></td>
      </tr>
      <tr>
        <td class="label top">Devices:</td>
        <td>
          <ul data-bind="visible: current() && current().devices, template: { name: deviceDisplayMode, foreach: current() ? current().devices : ''}"></ul>
          <a id="add-device" class="button secondary" href="javascript:void(0);" data-bind="click: addDevice"> register new device </a>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="label">
          <a class="button primary" href="javascript:void(0);" data-bind="click: save">Save</a>
          <a class="button secondary" href="javascript:void(0);" data-bind="click: cancel">Cancel</a>
        </td>
      </tr>
    </table>
  </div>
  
  <div id="list-container">
    <table class="list">
      <thead>
      <th>Key</th>
      <th>Notification Type</th>
      <th>Confirmed</th>
      <th>Devices</th>
      <th class="button-column"></th>
      <th class="button-column"></th>
      </thead>
      <tbody data-bind="template: { name:'registrationTableTemplate', foreach: registrations, templateOptions: { select: selectItem } }"></tbody>
    </table>
  </div>
</div>

<script id="registrationTableTemplate" type="text/html">
  <tr>
    <td>${ key }</td>
    <td>${ getNotificationTypeName( notificationType() ) }</td>
    <td>${ confirmed }</td>
    <td data-bind="template: { name: 'registrationTableDevicesTemplate', foreach: devices } "></td>
    <td><a class="button primary" href="javascript:void(0);" data-bind="clickWithParams: { action: $item.select, params: [$data ] }">Edit</a></td>
    <td><a class="button secondary" href="javascript:void(0);" data-bind="click: remove">Delete</a></td>
  </tr>
</script>

<script type="text/html" id="registrationTableDevicesTemplate">
  <span>${ name }, &nbsp;</span>
</script>
        
<script id="viewDeviceListTemplate" type="text/html">
  <li id="${ _id }">
    <label>${ name }</label>
    <a class="button secondary" href="javascript:void(0);" data-bind="click: function () { this.editing( true ); }">edit</a>
    <a class="button secondary" href="javascript:void(0);" data-bind="click: removeDevice">remove</a>
  </li>
</script>

<script id="editDeviceListTemplate" type="text/html">
  <li id="${ _id }">
    <div id="device-detail">
      <table>
        <tr>
          <td class="label">Name:</td>
          <td><input type="text" data-bind="value: name"/></td>
        </tr>
        <tr>
          <td class="label">Type:</td>
          <td><select name="type"  data-bind="options: ['ios','android'], optionsCaption: 'Choose Type... ', value: type" /></td>
        </tr>
        <tr>
          <td class="label">Token:</td>
          <td><input type="text" data-bind="value: token"/></td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:right">
            <a id="cancel-device" class="button secondary" href="javascript:void(0);" data-bind="click: ( _id() == 'newDevice' ) ? removeDevice : function () { this.editing( false ); } "> cancel </a>
            <a id="cancel-device" class="button secondary" href="javascript:void(0);" data-bind="click: function () { this.editing( false ); }"> done </a>
          </td>
        </tr>
      </table>
     </div>
  </li>
</script>


<script type='text/javascript'>
  $( "#top-bar #registrations" ).addClass( 'selected' );
  
  ko.bindingHandlers.clickWithParams = {
    init: function(element, valueAccessor, allBindingsAccessor, context) {
      var options = valueAccessor();
      var newValueAccessor = function() {
        return function() {
          options.action.apply(context, options.params);
        };
    };
      ko.bindingHandlers.click.init(element, newValueAccessor, allBindingsAccessor, context);
    }
  };
  
  var parent = this;
  this.viewModel;

  function device ( data ) {
    this._id = ko.observable( data._id || 'newDevice' );
    this.type = ko.observable( data.type );
    this.name = ko.observable( data.name || 'New Device');
    this.token = ko.observable( data.token );

    this.editing = ko.observable( false );

    this.removeDevice = function ( data ) {
      parent.viewModel.current().devices.remove( this );
    };
  }

  function notificationType ( data ) {
    this._id = data._id || '';
    this.name = data.name || "" ;
  }

  function registration ( data ) {
    this._id = ko.observable( data._id );
    this.key = ko.observable( data.key );
    this.notificationType = ko.observable( data.notificationType ? data.notificationType._id : '');
    this.confirmed = ko.observable( data.confirmed || false );
    var mappedDevices = bindData( device, ( data.devices ? data.devices : []) );
    this.devices = ko.observableArray( mappedDevices );

    this.getNotificationTypeName = function ( notificationTypeId ){
      var notificationType = findObjectInArray( notificationTypeId, '_id', ko.toJS( parent.viewModel.notificationTypes ) );
      return notificationType.name || '';
    };

    this.remove = function () {
      var self = this;
      _delete( this._id(), function () {
        parent.viewModel.registrations.remove( self );
      });
    }
  }
  
  function registrationViewModel () {
    this.registrations = ko.observableArray( [] );
    this.notificationTypes = ko.observableArray( [] );
    this.current = ko.observable();

    this.showNew = function() {
      parent.viewModel.selectItem(new registration( {} ));
    };

    this.addDevice = function ( data ) {
      var newDevice = new device( {} );
      newDevice.editing( true );
      this.current().devices.push( newDevice );
    };

    this.deviceDisplayMode = function ( device ) {
       return device.editing()  ? 'editDeviceListTemplate' : 'viewDeviceListTemplate';
    };

    this.save = function () {
      var self = this.current();
      var registration = ko.toJS(self);

      var id = registration._id;
      delete registration['_id'];

      for( var name in registration.devices ) {
        delete registration.devices[name]['_id'];
        delete registration.devices[name]['editing'];
        delete registration.devices[name]['removeDevice'];
      }

      if( typeof id == 'undefined' ) {
        _create( registration, function (newRegistration) {
          parent.viewModel.registrations.push( newRegistration );
          $( '#details-container' ).hide( 400 );
        })
      } else {
        _update( id, registration, function () {
          $( '#details-container' ).hide( 400 );
        });
      }
    };

    this.removeCurrent = function () {
      self = this.current();
      _delete( self._id(), function () {
        parent.viewModel.registrations.remove(self);
        $( '#details-container' ).hide( 400 );
      });
    };
    
    this.cancel = function () {
      $( '#details-container' ).hide( 400 );
    };

    var self = this;
    getNotifcationTypes( self, function () {
      var mappedRegistrations = bindData( registration, <%- JSON.stringify( registrations ) %> );
      self.registrations( mappedRegistrations );
    });
  }

  this.viewModel = new registrationViewModel();
  this.viewModel.selectItem = function ( registration ) {
    $( '#details-container' ).show( 400 );
    this.current( registration );
  }.bind(this.viewModel);

  ko.applyBindings( this.viewModel );


  function _create ( newRegistration, callback ) {
    $.ajax( {
      type: 'PUT',
      url: '/registrations',
      data: JSON.stringify(newRegistration),
      contentType: 'application/json; charset=utf-8',
      success: function ( data ) {
        callback( new registration( data ) );
        displayMessage( "Notification has been registered." );
      },
      error: function () {
        displayMessage( "Notification could not be registered.", true );
      }
    } );
  };

  function _update ( registrationId, registration, callback ) {
    $.ajax( {
      type: 'POST',
      url: '/registrations/' + registrationId,
      data: JSON.stringify( registration ),
      contentType: 'application/json; charset=utf-8',
      success: function () {
        callback();
        displayMessage( "Registration has been updated." );
      },
      error: function () {
        displayMessage( "Registration could not be updated.", true );
      }
    } );
  }

  function _delete ( registrationId, callback ) {
    $.ajax( {
      type: 'DELETE',
      url: '/registrations/' + registrationId,
      data: '{}',
      contentType: 'application/json; charset=utf-8',
      success: function () {
        callback();
        displayMessage( "Registration has been deleted." );
      },
      error: function () {
        displayMessage( "Registration could not be deleted.", true );
      }
    } );
  }


</script>