<div>
  <div id="sub-title">
	<h3>Registrations <a class="button secondary" href="/registrations/new" style="float:right">+ new registration</a></h3>
  </div>
  
  <div id="content">
	<div id="list-container">
	  <form id="deleteform" method="post">
		<input type="hidden" name="_method" value="delete" />
	  <table class="list">
		<tr>
		  <th>Notification Type</th>
		  <th>Notification Key</th>
		  <th class="button-column"></th>
		  <th class="button-column"></th>
		</tr>
	  <% registrations.forEach( function (registration) { %>
		<tr>
		  <td><%=registration.notificationType %></td>
		  <td><%=registration.notificationKey %></td>
		  <td><a class="button primary" href="/registrations/<%-registration._id%>/edit">Edit</a></td>
		  <td><a class="button secondary" href="" onclick="document.getElementById('deleteform').setAttribute('action','/registrations/<%-registration._id%>'); document.getElementById('deleteform').submit();">Delete</a></td>
		</tr>
	  <% }); %>
	  </table>
	  </form>
	</div>
  </div>
</div>