<div>
  <div id="sub-title">
	<h3>Registration - New</h3>
  </div>

  <div id="content">
	  <form action="/registrations" method="post">
		  <input type="hidden" name="_method" value="put" />
      <label for="notificationType">Notification Type: </label>
      <select id="notificationType" name="notificationType">
      <% notificationTypes.forEach( function (notificationType) { %>
        <option value='<%-notificationType._id%>'><%-notificationType.name%></option>
      <% }); %>
      </select><br/>
      <label for="key">Key: </label><input id="key" name="key" value=""/><br/>
		  <input type="submit" value="Save"/><input type="button" value="Cancel"/>
	  </form>
  </div>
</div>